<footer class="footer">
  <nav class="footer-nav">
    <div class="footer-brand">
      <a href="#"><img src="/assets/images/logo.png" alt="" /></a>

      <p class="footer-brand-text" data-translate="hero_subtitle">
        creative code. wild ideas
      </p>
    </div>
    <ul class="footer-social">
      <li>
        <a href="#" target="_blank" aria-label="linkedlin">
          <!-- Twitter SVG -->
          <img src="/assets/images/linkedlin.png" alt="" />
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/digitalsavages_studio/"
          target="_blank"
          aria-label="instagram"
        >
          <!-- Instagram SVG -->
          <img src="/assets/images/instagram.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" aria-label="facebook">
          <!-- Facebook SVG -->
          <img src="/assets/images/facebook.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" aria-label="tiktok">
          <!-- TikTok SVG -->
          <img src="/assets/images/TikTok.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" aria-label="discord">
          <!-- Discord SVG -->
          <img src="/assets/images/discord.png" alt="" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="footer-bellow">
    <p class="have-a-question" data-translate="footer_question">
      Маєте запитання? Залиште його у формі →
    </p>
    <div class="downoload-button" data-translate="footer_button">
      Залишити запитання
    </div>
  </div>
</footer>
